
.categorySelection > p {
    text-align:center;
}

.categories {
    display: flex; 
    flex-flow: row wrap; 
    justify-content: center;
}

.category-card {
    display: inline-block;
    padding: 0.5rem;
    margin: 0.25rem 0.5rem 0.25rem 0.5rem;
    border: 0.01rem solid darkgray;
    width: 20%;
    text-align: center;

}

.category-card > p {
    display: inline-block;
}

.category-card > p:hover{
    cursor: pointer;
}